@model MovieCustomerMvcAppWithAuthentication.Models.Movie
@{
    ViewBag.Title = "Genre";
}

<h2>Genre</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Movie Genre</th>
        </tr>
    </thead>
    <tbody>
           
            <tr>
                <td>@Model.Genre</td>
            </tr>   
       
    </tbody>
</table>

